@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background: url(img/vasco\ bg\ 3.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 48px;
}
header .logo{
  width: 150px;
}
.navigation ul{
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation ul li a{
  color: #fff;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all .6s;
}
.navigation ul li a:hover{
  border-bottom: 2px solid #138ecc;
}
.navigation .search{
  width: 22px;
  cursor: pointer;
  filter: invert(1);
}
.navigation .perfil{
  width: 40px;
  cursor: pointer;
}

/*main*/

main{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50em;
  margin-top: 1.5em;
}
main section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2.5em;
}
main section .logoboys{
  width: 35em;
  margin: 3em 0;
}
main section .btn-box{
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn-box .btn{
  padding: 20px 45px;
  background-color: #425264;
  color: #fff;
  margin-bottom: 2em;
  border-bottom: 2px solid #fff;
  transition: all .3s;
}
.btn-box .btn:hover{
  background: #2d3846;
}
.btn-box .btn:focus{
  background: #2d3846;
}
main section .text{
  color: #fff;  
  line-height: 22px;
  background: rgba(0,0,0,.1);
  border-radius: 10px;
  padding: 5px;
}
.btn-box2{
  display: flex;
  align-items: center;
   color: #fff;
   background: #0f79af;
   padding: 15px 45px;
   margin-top: 2em;
   border-radius: 5px 5px 0 0;
   border-bottom: 4px solid #fff;
   font-size: 25px;
   gap: 15px;
   cursor: pointer;
   transition: all .3s;
}
.btn-box2:hover{
  background: #138ecc;
}
.btn-box2 .play{
  width: 1.4em;
  filter: invert(1);
}
footer .cards{
  display: flex;
  align-items: center;
  flex-flow: row;
  margin-left: 23em;
  margin-top: 1.5em;
}
footer .cards .card{
  height: 180px;
  max-width: 300px;
  box-shadow: 12px 0px 32px 2px #000;
  margin-left: -120px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
footer .cards .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .card:hover{
  transform: translateY(-16px) rotate(3deg);
}
.cards card:hover ~ .card{
  transform: translateX(140px);
}